%h2
  = raw t('booking.header')
%strong
  = raw t('booking.booking1')
%br/
%br/
= raw t('booking.booking2')
%br/
%br/
%br/
%br/

.left
  =link_to "https://www.airbnb.com/rooms/50631940" do
    Rooms
    = image_tag "feenix.jpg"  , :width => "100%" , :alt => "allas"
.left
  =link_to "https://www.hubfeenix.fi/" do
    = image_tag "feenix_lintu.jpg"  , :width => "100%" , :alt => "garden"
    Info
