- @rooms.each do |room|
  - selected = params[:booking] ? params[:booking][:room_id] == room.id.to_s : false ;
  %td
    %div{:class => "free #{'selected' if selected}" , :id => room.id}
      %a{:href => "#"}
        = room.name.capitalize
