- ["lootus","aurinko","safron","oranssi","vihrea","taivas","ruusu"].each do |room|
  - selected = params[:booking] ? params[:booking][:room] == room : false ;
  %td
    %div{:class => "free #{'selected' if selected}" , :room => room}
      %a{:href => "#"}
        = room.capitalize
