<% @rooms.each do |room| 
  free = true %>
  <td>
    <div class="<%=free ? 'free' : 'taken'%>" id="<%=room.name%>">
      <%if free%>
      <a href="#"> <%=room.name.capitalize%> </a>
      <%else%>
      <%= room.name %>
      <%end%>
    </div>
  </td>
<%end%>
