
@import "susy" ;
@import "breakpoint" ;

$susy: layout(12 1/2 fluid float center);
$large: 700px;


body
{
  font-size: 14px;
  font-family: georgia, "times new roman", serif;
  background: #ffffff;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #008495;
}

.news a {
  text-decoration: none;
  color: #9f9f9f;
}

.menu a:hover {
  text-decoration: none;
  background:  url('/images/bbg1.gif');
}

strong {
  background: inherit;
  color: #50514D;
}

.main header
{
  color: #ffffff;
  background: #ffffff;
}

.slogan {
  position: relative;
  bottom: 7px;
  font-size: 13px;
  text-align: right;
  margin-right: 30px;
  font-style: italic;
  a {color: red;}
}

.left_map {
  @include span( 12 of 12);
  @include breakpoint(900px) {
    @include span(first 8 of 12);
  }
}
.right_map {
  @include span( 12 of 12);
  @include breakpoint(900px) {
    @include span(last 4 of 12);
  }
}

.left {
  @include span(first 6 of 12);
}
.left2 {
  @include span(last 6 of 12);
  .left_img {
    @include span(first 4 of 12);
  }
  .left_list {
    @include span(last 8 of 12);
  }
}


.main {
  padding-top: 20px;
  @include container(85%);
}

.menu ul {
  list-style: none;
  margin: 0px;
}

.menu li {
  background: url('/images/li_low.jpg') no-repeat;
  padding: 0px;
  font-weight: bold;
  margin-left: -20px;
  height: 38px;
}

.menu ul li.active {
  background: url('/images/bbg2.gif') ;
}

.menu a {
  display: block;
  position: relative;
  margin-bottom: 1px;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  color: #636363;
  font-size: 13px;
}

.menu a:hover span {
  position: absolute;
  right: 0px;
  margin-top: 5px;
  margin-right: 15px;
  width: 7px;
  height: 7px;
}

.menu li:hover {
  background: url('/images/bbg1.gif') ;
}

.menuend {
  height: 30px;
  background: url('/images/a2.gif');
}

h1 {
  background: inherit;
  color: #50514D;
  font-size: 26px;
}

h1 span {
  background: inherit;
  color: #85AC1E;
}

h1 span sup {
  background: inherit;
  color: #85AC1E;
  font-size: 14px;
}


h3 {
  margin-top: 30px;
  background: inherit;
  color: #50514D;
  font-size: 15px;
  height: 34px;
  background: url('/images/a3.gif') repeat-x 0px 17px;
}

h3 span {
  background: inherit;
  color: #008495
}

h3.first {
  margin-top: 0px;
}

h4 {
  color: #008495;
  margin-bottom: 10px;
  margin-top: 5px ;
  font-size: 16px;
  font-weight: bold;
}


.lcol {
  @include span(first 2 of 12);
}

.lcontent {
  ul.divided li {
    border-top: solid 1px #F5F5F5;
    margin-top: 4px;
    padding-top: 4px;
    margin-left: -30px;
    background-position: 0px 1px;
    font-size: 12px;
  }

  ul.divided li.first
  {
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    background-position: 0px 5px;
  }
}

.rcontent {
  padding-top: 25px;
  div.right ul {
    font-size: 1.1em;
    word-spacing: 3px;
    line-height: 20px;
  }
}

ul {
  list-style: none;
}

li {
  background: url('/images/li.gif') no-repeat;
  padding-left: 18px;
}

li:hover {
  background: url('/images/li_high.gif') no-repeat;
}

p {
  margin-bottom: 25px;
  text-align: justify;
  line-height: 20px;
}

.lcol p {
  font-size: 10px;
  line-height: 16px;
  margin: 0px;
}

.divider {
  font-size: 0px;
  position: relative;
  height: 1px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.summary {
  text-align: right;
  font-style: italic;
}

.rcol
{
  @include span(last 10 of 12);
  background: url('/images/a2.gif') repeat-x;
}

.slogan2 {
  font-size: 14px;
  position: relative;
  top: -5px;
}

.newsbox {
  position: relative;
  background: inherit;
  color: #AAB162;
  height: 120px;
}

.activitybox {
  float: left;
  position: relative;
  background: inherit;
  width: 430px;
  height: 140px;
}

.box {
  position: relative;
  border-bottom: solid 1px #c0dce0;
  min-height: 180px;
}

.boxinner h2 {
  color: #008495;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px ;
  margin-top: 0px ;
}

.boxinner {
  border: solid 1px #fff;
  padding: 16px;
  color: inherit;
  font-size: 13px;
  line-height: 1.4em;
  margin-bottom: 10px;
}

.activitybox .boxinner {
  padding-top: 5px;
  padding-left: 5px;
  padding-top: 5px;
  text-align: justify;
}

.captionedimage {
  position: relative;
  padding-bottom: 15px;
  float: left;
  margin-right: 17px;
}

.captionedimage div {
  position: absolute;
  font-size: 9px;
  bottom: 0px;
  left: 0px;
}

.photobox_w{
  line-height: 1.4em;
  height: 170px;
  text-align: center;
  @include gallery( 6 of 12);
  @include breakpoint($large) {
    @include gallery( 4 of 12);
  }
}

.photobox_h{
  line-height: 1.4em;
  height: 230px;
  text-align: center;
  @include gallery( 6 of 12);
  @include breakpoint($large) {
    @include gallery( 4 of 12);
  }
}

.centre {
  text-align: center;
}

.lotus {
  @include span(first 1 of 24 );
  visibility: hidden;
  @include breakpoint($large) {
    visibility:visible;
    @include span( first 9 of 24);
  }
}

.aurinko_box {
  @include span( last 23 of 24 );
  @include breakpoint($large) {
    @include span(last 14 of 24);
  }
}

.aurinko_pic {
  @include span(first 55%);
}

.aurinko_extra {
  @include span(last 42%);
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
    padding-top: 18px;
  }

}

.aurinko_maintext {
  @include span(12 of 12);
  font-weight: bold;
  font-size: 16px;
  color: #008495;
  margin-top: 10px;
}

.aurinko_subtext {
  font-size: 13px;
  margin-top: 10px;
  @include span(12 of 12);
}

.fb-like{
  margin-top: 15px;
}

div.kolmas {
  width: 33%;
  float: left;
}

.wide_bedbox {
  @include span(100%);
  @include break;
}

.widebox {
  @include span(100%);
}

.bedbox {
  img {
    border: 2px solid #c1cabb;
    text-align: center;
  }
  @include span(100%);
  @include breakpoint($large) {
    margin: 10px;
    @include gallery(4);
  }
}


div.roomheader {
  font-size: 120%;
  line-height: 1.2em;
  margin-bottom: 21px;
}

img {
  border-style: none;
}

.activitybox .boxinner a img {
  float: left;
  margin-right: 10px;
}

.activitybox div.boxinner a h2 {
  margin-bottom: 10px;
}

.footer {
  clear: both;
  background: url('/images/a3.gif') repeat-x;
  margin: 0px auto;
  margin-bottom: 25px;
  padding-top: 18px;
  text-align: center;
  line-height: 18px;
}

.line {
  border-bottom: solid 1px #c0dce0;
  float: left;
  width : 100%;
  margin-bottom: 10px;
}
.break{
  @include break;
}
.header {
	color: #50514D;
	font-weight: bold;
	font-size: 15px;
}
