<div class="left">
  <img src ="/images/sali.gif" width=450px height=336px/>
</div>
<div class="left2">
  <img src ="/images/allas.jpg">
  <img src ="/images/blank.gif" height="1px" width="140px">
  <img src ="/images/garden_group.jpg" height="196" width="140px">
</div>
<div class="right">
  <%=raw t "groups.right" %>
</div>
<div class="divider"> </div>
<div class="left">
  <br>
  <%=raw t "groups.bottom" %>
</div>

