.left
  %img{:height => "336px/", :src => "/images/sali.gif", :width => "450px"}/
.left2
  %img{:alt => "allas", :src => "/images/allas.jpg"}/
  %img{:alt => "blank", :height => "1px", :src => "/images/blank.gif", :width => "140px"}/
  %img{:alt => "garden", :height => "196", :src => "/images/garden_group.jpg", :width => "140px"}/
.right
  = raw t "groups.right"
.divider
.left
  %br/
  = raw t "groups.bottom"
