Tässä on viitettä antava hinnasto kurssin pitämiseen Villa Taiassa.
%br/
Kurssin hinnat riippuvat ryhmän koosta.
%br/
%br/
%b iso
(15-30 hlö) jolloin koko talo on  ryhmän käytössä, jos on yli 20 hlö hinta on hieman edullisempi
%br/
%b pieni
(10-15 hlö) Lootus ja Aurinko sviitit jäävät aamiaismajoituksen käyttöön
%br/
%b alle 10:
Kurssin aikana aamiaismajoitus pyörii normaalisti. Alle 10 hengen ryhmät voivat vaihtoehtoisesti käyttää Lootus sviittiämme 40m² ryhmätilana, jolloin kurssi tulee edullisemmaksi.
%br/
%br/
%table
  %tr
    %td
    %td{:align => "center"} iso
    %td{:align => "center"} pieni
  %tr
    %td{:width => "400"} Hintaan kuuluu majoitus,liinavaatteet ja aamiainen, 2-5 hlö per huone
    %td{:align => "center", :width => "60"} 32
    %td{:align => "center", :width => "60"} 35
  %tr
    %td Lounas
    %td{:align => "center"} 10
    %td{:align => "center"} 12
  %tr
    %td Illallinen
    %td{:align => "center"} 13
    %td{:align => "center"} 15
  %tr
    %td Sali
    %td{:align => "center", :colspan => "2"} 150 / päivä
  %tr
    %td Sauna
    %td{:align => "center", :colspan => "2"} 50 / kerta
  %tr
    %td omalla makuupussilla  alennus on
    %td{:align => "center", :colspan => "2"} 4
%br/
Ruoka on herkullista kasvisruokaa.
Keittiö on yksityiskäytössämme eli ei ole mahdollista tuoda omaa kokkia.
Kesällä voi käyttää ulkogrilliä
%br/
Varaus tulee voimaan maksamalla varausmaksu. Peruutus pitää tehdä kesällä kuukautta ennen.
