<div class="left">
  <img src ="/images/sali.gif" width=450px height=336px/>
</div>
<div class="right">
  <%=raw t "groups.one" %>
  <br/>
  <%=raw t "groups.two" %>
  <br/>
  <%=raw t "groups.three" %>
  <br/>
  <%=raw t "groups.four" %>
</div>
