<div id="lotus">
  <a href='/fi/huone/aurinko.html'>
   <img alt='Aurinko sviitti' border='0' height='414' src='kuvat/aurinko.jpg' valign='top' width='312' />
  </a>
</div>

<div id="aurinko_wrapper">
  
  <div id="aurinko">
    <a href='/fi/huone/lootus.html'>
      <img alt='Lootus sviitti' border='0' height='310' src='kuvat/lootus.jpg' width='246' />
    </a>
  </div>

  <div  id="extra">
    <img alt='' height='147' src='kuvat/kukka.jpg' width='197' />

    <img alt='' height='139' src='kuvat/talo.jpg' width='197' />
  </div>
</div>

<div  id="main_text">
  <div style='margin-left: 15px;font-family: Georgia,Times New Roman,serif; color: rgb(0, 132, 149); font-weight: bold; font-size: 16px;'>
    <em>Taianomaista tyylikkyyttä Aasiasta ja luonnonkauniin ympäristön rauhaa. </em>
  </div>
  <div style='margin-left: 15px;margin-top: 10px;'>
    <strong> Villa Taika </strong> on kaunis ja viehättävä Bed&Breakfast -paikka sekä kurssikeskus Antskogissa, 4,5 km Fiskarsista Karjalohjalle päin.
  </div>
</div>


