#lotus
  %a{:href => "/#{@locale}/suites.html"}
    %img{:alt => "Aurinko sviitti", :border => "0", :height => "414", :src => "/images/aurinko.jpg", :valign => "top", :width => "312"}/
#aurinkowrapper
  #aurinko_pic
    %a{:href => "/#{@locale}/suites.html"}
      %img{:alt => "Lootus sviitti", :border => "0", :height => "310", :src => "/images/lootus_1.jpg", :width => "246"}/
  #extra
    .top
      %img{:alt => "", :height => "147", :src => "/images/kukka.jpg", :width => "197"}/
    .bottom
      %img{:alt => "", :height => "139", :src => "/images/talo.jpg", :width => "197"}/
  #maintext
    = t("index.bold")
  .subtext
    %strong Villa Taika
    = t("index.text")
