<div id="lotus">
  <a href='/<%=@locale%>/room/sun.html'>
   <img alt='Aurinko sviitti' border='0' height='414' src='/kuvat/aurinko.jpg' valign='top' width='312' />
  </a>
</div>

<div id="aurinko_wrapper">
  
  <div id="aurinko">
    <a href='/<%=@locale%>/room/lootus.html'>
      <img alt='Lootus sviitti' border='0' height='310' src='/kuvat/lootus.jpg' width='246' />
    </a>
  </div>

  <div id="extra">
    <div class="top">
      <img alt='' height='147' src='/kuvat/kukka.jpg' width='197' />
    </div>
    <div class="bottom">
      <img alt='' height='139' src='/kuvat/talo.jpg' width='197' />
    </div>
  </div>

  <div id="main_text">
    <%= t("index.bold")%>

  </div>
  <div class="sub_text">
    <strong> Villa Taika </strong> 
    <%= t("index.text")%>
  </div>
</div>


