<div id="lotus">
  <a href='/<%=@locale%>/suites.html'>
   <img alt='Aurinko sviitti' border='0' height='414' src='/images/aurinko.jpg' valign='top' width='312' />
  </a>
</div>

<div id="aurinkowrapper">
  
  <div id="aurinko">
    <a href='/<%=@locale%>/suites.html'>
      <img alt='Lootus sviitti' border='0' height='310' src='/images/lootus_1.jpg' width='246' />
    </a>
  </div>

  <div id="extra">
    <div class="top">
      <img alt='' height='147' src='/images/kukka.jpg' width='197' />
    </div>
    <div class="bottom">
      <img alt='' height='139' src='/images/talo.jpg' width='197' />
    </div>
  </div>

  <div id="maintext">
    <%= t("index.bold")%>

  </div>
  <div class="subtext">
    <strong> Villa Taika </strong> 
    <%= t("index.text")%>
  </div>
</div>


