<div class="left">
  <img src ="/images/sali.gif" width=450px height=336px/>
</div>
<div class="right">
  <%=t "kurssi.yks" %>
  <br/>
  <%=t "kurssi.kaks" %>
  <br/>
  <%=t "kurssi.kol" %>
  <br/>
  <%=t "kurssi.nel" %>
</div>
