<div class="room_header">
  <%=raw t "#{@room}.full"%>
  <br/>
  <%= raw t "#{@room}.price" %>
  <br/>
</div>
<div class="centre">
  <a href="#{huoneet[(huoneet.index(@page) +1) % huoneet.length]}.html" >
    <img src='<%="/images/#{@room}.jpg" %>'  alt="#{t(@page+'.short')}"  />
  </a>
</div>

