%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %meta{:content => "Bed and breakfast majoitus hotel Fiskars häät  Suite", :name => "keywords"}/
    %meta{:content => "Bed and Breakfast Villa Taika : #{t('slogan') + ' ' + t(@page + ".short")}", :name => "description"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => @locale, "http-equiv" => "Content-Language"}/
    %title
      Bed &amp; Breakfast Villa Taika : #{t(@page + ".short")}
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .main
      .header
        .centre
          %img{:alt => "Villa Taika logo", :src => "/images/logo_iso.png"}/
        .slogan= link_to t("booking.header") , "/#{@locale}/booking.html"
      .lcol
        .menu
          %ul
            - ["index" , "bed" ,"booking","groups","map","photos","activities"].each do |p|
              <li #{raw('class="active"') if params[:page] == p}>
              \#{link_to(t(p+'.short') , "/#{@locale}/#{p}.html")}
        .menuend
        .lcontent
          %h3.first
            %span= t "bed.rooms"
          %ul.divided
            %li= link_to  t("suites.short") , "/#{@locale}/suites.html"
            %li= link_to  t("deluxe.short") , "/#{@locale}/deluxe.html"
            %li= link_to  t("standard.short") , "/#{@locale}/standard.html"
          .divider
          - @locales.each do |lang|
            <a href="#{"/#{lang}/#{@page}.html"}" #{"class='selected'" if lang == @locale}>
            %img{:alt => lang.to_s, :src => "/images/#{lang.to_s}.gif"}/
          %h3
            %a{:href => "/#{@locale}/news.html"}
              %span= t("news.short")
          .news
            %a{:href => "/#{@locale}/news.html"}
              = t("news." + news.first + ".short")
      .rcol
        .rcontent
          = yield
        .divider
      .footer
        .kolmas
          %b> Villa Taika
          , Fiskarsintie 847, 10480 Antskog
          %br/
          www.villataika.fi&nbsp;&nbsp;&nbsp;info@villataika.fi
        .kolmas
          Raisa Kaipainen &amp; Torsten Rüger
        .kolmas
          %a{:href => "/#{@locale}/index.html"}
            %img{:alt => "", :border => "0", :height => "33", :src => "/images/logo_pien.gif", :width => "198"}/
    .divider
    %br/
    %br/
    %br/
